*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#F9E3CF, #E0A772);
    color: black;
    overflow-x: hidden;
    font-family: sans-serif;
}

.main{
    max-width: 1200px;
    margin: 0 auto;
}
 
.header .container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100px;
}

.menu{
    margin-left: auto;
}

.line{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 15px;
    right: 5px;
    background-color: orange;
}

.logo img{
    margin-right: auto;
    height: 100px;
}

.menu-list {
    display: flex;
}

.menu-item{
    list-style-type: none;
    margin-right: 20px;
}

.menu-item:last-child {
    margin-right: 15px;
}


.menu-item a{
    position: relative;
    text-decoration: none;
    color: black;
    transition: all 1s ease;
}

.menu-item a:hover::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 15px;
    background-color: orange;
}

.menu-item a:hover{
    box-shadow: 0px 10px 50px orange;
    background-color: rgba(255, 166, 0, 0.164);
}

.main-container .container{
    margin-top: 120px;
    height: 100vh;
    width: 100%;
}

.main-title{
    font-size: 180px;
    text-align: center;
    position: relative;
}
.main-title::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 0;
    left: 0;
    background-color: orange;
}

.image_cake_01{
    position: absolute;
    bottom: 0;
    left: 500px;
    z-index: -1;
}

.pie_steam_01{
    position: absolute;
    top: 55px;
    left: 100px;
    opacity:1;
    transition: all 1s ease;
}

.pie_steam_01:hover{
    opacity: 0;
}


.products{
    padding: 100px 0;
    position: relative;
}

.products-title{
    margin-bottom: 100px;
    font-size: 100px;
    text-align: center;
}

.pie_crumbs_bg{
    position: absolute;
    width: 100%;
    top: 0px;
    filter: blur(5px);
    z-index: -1;
}

.products-items{
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 0px 300px;
}

.products-item{
    height: auto;
    margin: 0px 20px;
    background-color: rgba(255, 166, 0, 0.438);
    border: 10px solid white;
}
.products-item-image img{
    height: auto;
    position: relative;
    max-width: 100%;
    border-bottom: 10px solid white;
}

.products-item-title{
    font-size: 40px;
    text-align: center;
    color: white;
}

.products-item-text{
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 30px;
    color: white;
}

.products-item-text span{
    font-size: 30px;
    text-align: center;
}
